<html lang="en">
<head>
    <title>Смета</title>
    <link rel="stylesheet" href="/static/styles/estimate_style.css">
</head>
<header>
    <a href="/" class="home-link"><h1>Главная</h1></a>
    <!-- <a href="/"><img class="logo" src="/static/img/Vector_1.svg" alt="home"></a> -->
</header>
<body>
    <div class="year-selector">
        <label for="year">Выберите год для пересчета:</label>
        <input type="number" id="year" name="year" min="-3000" max="2025" value="2025">
    </div>

    <div class="estimate-container">
        {{ range .estimate_objects }}
        <div class="estimate-card">
            <img src="{{ .Service.ImageURL }}" alt="{{ .Service.Name }}">
            <h3 class="title">{{ .Service.Name }}</h3>
            <div class="price-field">
                <label>Цена</label>
                <input type="text" value="{{ .Service.PriceUSD }} / за {{ .Service.Unit }}" readonly>
            </div>
            <div class="volume-field">
                <label>Объем</label>
                <input type="text" value="{{ .Quantity }}">
            </div>
        </div>
        {{ end }}
    </div>

    <div class="result">
        <h3>Итого: {{ .total_sum }}$</h3>
        <h3>Результат с учетом инфляции и конвертации: {{.total_cost_usd}}$</h3>
    </div>

    <div class="actions">
        <form action="/delete_request/{{ .estimate_id }}" method="POST">
            <button type="submit" class="delete-button">Удалить заявку</button>
        </form>
    </div>
</body>
</html>