<html lang="en">
<head>
    <title>Historical Objects</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<header>
    <a href="/" class="home-link"><h1>Главная</h1></a>
    <a href="/"><img class="logo" src="http://localhost:9000/iu5-web/img/Vector_1.svg" alt="home"></a>
</header>
<form action="/" method="GET" class="search-form">
    <input type="text" name="searchHistoricalObject" placeholder="Поиск" value="{{ .searchHistoricalObject }}">
    <button type="submit">Найти</button>
</form>

<div class="cards-container">
    {{ range .historical_objects }}
    <div class="card">
        <a href="/historical_object/{{ .ID }}"><img src="{{ .Img }}" alt="{{ .Title }}"></a>
        <p class="price">{{ .Price }} / за {{ .Value }}</p>
        <h3 class="title">{{ .Title }}</h3>
        <div class="buttons">
            <a href="/historical_object/{{ .ID }}" class="details-button">Подробнее</a>
            <button class="buy-button">Купить</button>
        </div>
    </div>
    {{ end }}
</div>
<div class="basket-container">
    <a href="/historical_estimate?id=1">
        <img src="http://localhost:9000/iu5-web/img/pngwing.com (1).png" alt="historical_estimate">
        {{ if gt .estimate_count 0 }}
            <div class="basket-counter">{{ .estimate_count }}</div>
        {{ end }}
    </a>
</div>
</html>